@charset "utf-8";
/* CSS Document */

body{
	background-color:rgba(0,0,0,1.00);
}

#gameCanvas{
	display:block;
	width:750px;
	margin-left:auto;
	margin-right:auto;
}

.canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
    display: block;
    width: 800px;
}

@media screen and (max-width:1920px){
	#gameCanvas{
		margin-top:70px;
		margin-left:auto;
		margin-right:auto;
	}
}

@media screen and (max-width:1280px){
	#gameCanvas{
		width:900px;
		height:600px;
		margin-left:auto;
		margin-right:auto;
	}
}

@media screen and (max-width:960px){
	#gameCanvas{
		width:900px;
		height:600px;
		margin-left:auto;
		margin-right:auto;
	}
}

@media screen and (max-width:800px){
	#gameCanvas{
		width:720px;
		height:600px;
		margin-left:auto;
		margin-right:auto;
	}
}


@media screen and (max-width:768px){
	#gameCanvas{
		width:700px;
		height:600px;
		margin-left:auto;
		margin-right:auto;
	}
}

@media screen and (max-width:480px){
	#gameCanvas{
		width:360px;
		height:400px;
		margin-left:auto;
		margin-right:auto;
	}
}

@media screen and (max-height:510px){
	#gameCanvas{
		max-width:360px;
		height:80%;
		margin-left:auto;
		margin-right:auto;
	}
}

